body {
    background-color: black;
}

.prose {
    color: yellow;
    text-align: center;
}

a {
    text-align:center;
    display: block;
    margin: 0 auto;
    color:yellow;
    text-decoration: none;
}

a:hover {
    color: #CCCC00;
    border-style: outset;
}

.navzone, .extreme {
    color: white;
    text-align: center;
    font-family: "Arial";
}

.extreme {
    background-color: goldenrod;
}

h2 {
    color:white;
}

.extreme:hover {
    color: silver;
}

h2:hover {
    color: silver;
}

.navzone:hover {
    color: silver;
}

.prose {
    margin-left: 100px;
    margin-right: 100px;
}


.prose:hover {
    border-color: silver;
    border-style: outset;
    font-family: "Helvetica";
}

